.receita__titulo {
    font-family: "roboto";
    font-weight: 400;
    color: #000000;
}

@media screen and (min-width: 0px) {
    .receita__titulo {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .receita__titulo {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) {
    .receita__titulo {
        font-size: 1.4375rem;
    }
}